<%# shoppe_stripe_javascript %>
<h2>Enter your credit card info:</h2>
<div class="large-8 columns">
  <div class="row">

    <form action='pay' method='POST' class='stripeForm'>
      <!-- <input type='hidden' name='stripe_token' data-stripe='token' /> -->
<!--       <label class="payment_label">Number</label>
      <input type='text' data-stripe='number' placeholder='4242 4242 4242 4242'>
      <label class="payment_label">Exp. Mo.</label>
      <input type='text' data-stripe='exp_month' placeholder='MM'>
      <label class="payment_label">Exp. Yr.</label>
      <input type='text' data-stripe='exp_year' placeholder='YYYY'>
      <label class="payment_label">CVC (Security Code)</label>
      <input type='text' data-stripe='cvc' placeholder='999'> -->
      <!-- <input type="submit" value="Continue"> -->

      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key=<%= ENV["PUBLISHABLE_KEY"] %>
        data-amount=<%= @total_before_tax %>
        data-name="Code Fellows Store"
        data-description=<%= current_order.total_items.to_s + " items" %>
        data-image="">
      </script>
    </form>

  </div>



