<!-- NAV FROM CF HOME PAGE (BOOTSTRAP)-->
<div id="header-container">
  <nav id="header" class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">Code Fellows</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/learn-to-code">Foundations</a></li>
        <li class="dropdown">
          <a href="/bootcamps" class="dropdown-toggle disabled" data-toggle="dropdown">Bootcamps
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/ruby-on-rails-bootcamp">Rails Bootcamp</a></li>
            <li><a href="/ios-bootcamp">iOS Bootcamp</a></li>
            <li><a href="/javascript-bootcamp">JavaScript Bootcamp</a></li>
            <li><a href="/ux-engineering-bootcamp">UX Engineering Bootcamp</a></li>
            <li><a href="/python-bootcamp">Python Bootcamp</a></li>
          </ul>
        </li>
          <li><a href="/calendar">Calendar</a></li>
          <li><a href="https://www.codefellows.org/blogs">Blog</a></li>
          <li><a class="btn btn-primary navbar-btn apply_button" style="padding-top:0.5em;padding-bottom:0.5em;margin-top: 27px;" href="https://panel.codefellows.org" target="_blank">Apply Now</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container home-hero">
    <div class="row">
      <div class="home-welcome">
        <h1>Your Opportunity To Develop</h1>
          <h2>
            Learn to Code
            <span>.&nbsp;</span>
            Get a Job
            <span>.&nbsp;</span>
            Guaranteed
            <span>.</span>
          </h2>
          <a class="btn btn-primary btn-lg" href="/bootcamps">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
<!-- END NAV FROM CF HOME PAGE -->
