<!-- Footer -->
  <footer class="row">
    <div class="large-12 columns"><hr />
      <div class="row">

        <div class="large-6 columns">
          <p>
            &copy; 2014 Chris C., Jerry T., and Mike T.
          </p>
        </div>

      </div>
    </div>
  </footer>
<!-- End Footer -->
