<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">

      <div class="large-2 small-6 columns">
        <img src="http://placehold.it/300x300&text=Site Owner">
      </div>

      <div class="large-10 small-6 columns">
        <strong>
          <p>Site created by:</p>
        </strong>
          <hr/>
        <p>Chris C., Jerry T., and Mike T.</p>
      </div>

    </div>
  </div>
</div>
