<!-- NAVIGATION -->
<nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>
</nav>

<nav class="top-bar hide-for-small">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to(image_tag("code_fellows_logo.svg", width: "120" ), root_path,:id => "home_link" ) %>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="/products">Shop</a></li>
      <li><a href="#">Foundations</a></li>
      <li class="has-dropdown">
        <a href="#">Bootcamps</a>
        <ul class="dropdown">
          <li><a href="#">Rails Bootcamp</a></li>
          <li><a href="#"> Bootcamp</a></li>
          <li><a href="#">JavaScript Bootcamp</a></li>
          <li><a href="#">UX Engineering Bootcamp</a></li>
          <li><a href="#">Python Bootcamp</a></li>
        </ul>
      </li>
      <li class ="">
        <a href="#">Calendar</a>
      </li>
      <li class = "">
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Apply Now</a>
      </li>
    </ul>
  </section>
</nav>
<!-- NAVIGATION -->




