<!-- NAVIGATION -->
<nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>
</nav>

<nav class="top-bar hide-for-small">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to(image_tag("code_fellows_logo.svg", width: "120"), root_path) %>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="/products">Shop</a></li>
      <li><a href="/learn-to-code">Foundations</a></li>
      <li class="has-dropdown">
        <a href="#">Bootcamps</a>
        <ul class="dropdown">
          <li><a href="/ruby-on-rails-bootcamp">Rails Bootcamp</a></li>
          <li><a href="/ios-bootcamp">iOS Bootcamp</a></li>
          <li><a href="/javascript-bootcamp">JavaScript Bootcamp</a></li>
          <li><a href="/ux-engineering-bootcamp">UX Engineering Bootcamp</a></li>
          <li><a href="/python-bootcamp">Python Bootcamp</a></li>
        </ul>
      </li>
      <li class ="">
        <a href="/calendar">Calendar</a>
      </li>
      <li class = "">
        <a href="/blogs">Blog</a>
      </li>
      <li>
        <a href="#">Apply Now</a>
      </li>
    </ul>
  </section>
</nav>
<!-- NAVIGATION -->




